.headers{
  background-color: #efefef;
  color: green;
  font-size: 36px;
  line-height: 96px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}